{% extends "general_layout.html" %}
{% block content %}
<div class="pl-4">
	<div>
		<h1 class="display-3">
			About Us
		</h1>
		<div>
			<p>
				Since 1916, the National Park Service has been entrusted with the care of our national parks. With the help of volunteers and partners, we safeguard these special places and share their stories with more than 330 million visitors every year. But our work doesn't stop there.
			</p>
			<p>
				We are proud that tribes, local governments, nonprofit organizations, businesses, and individual citizens ask for our help in <a class="font-weight-bold" href="https://fs.doi.gov/adfs/ls/?SAMLRequest=fZFbT4MwGIb%2FCun9KIfBRjNIcLtwyVQy0AtvTIFuNCkt9itT%2F70MPMzE7Lrv6Xu6AtqKjqS9aeSevfYMjPXeCglkfIhRryVRFDgQSVsGxFQkT%2B92xLMd0mllVKUEslIApg1Xcq0k9C3TOdMnXrHH%2FS5GjTEdEIyrFmzZgX1UJ5w3vCyVYKaxARQ%2BR3o4e8gLZG2GDVzSc9qv9wB2rfhopfUBsACMrO0mRi9ltfT90K3nTuhFke8fwuUiCIN5XVbRwnXpIAPo2VaCodLEyHPcaOaEMzconIAEIfEWz8jKvk654bLm8nj97nISAbktimw2rX5iGsbFgwAlqzM9MhbrC57XY%2Bk3RJT8hww6DD%2FUVviiYarryP0Qud1kSvDqw0qFUG9rzahhMXIRTibL379OPgE%3D&RelayState=ss%3Amem%3Adcbd36416558390d7132ec4aaa58bbd490251247101bbb4d4c28deeb1dcafb5e">revitalising their communities</a>, preserving local history, celebrating local heritage, and creating close to home opportunities for kids and families to get outside, be active, and have fun.
			</p>
			<p>
				Taking care of the national parks and helping Americans take care of their communities is a job we love, and we need—and welcome—your help and support.
			</p>
		</div>
	</div>
	<div>
		<h1 class="display-3">
			Our Mission
		</h1>
		<div>
			<p>
				The National Park Service preserves unimpaired the natural and cultural resources and values of the National Park System for the enjoyment, education, and inspiration of this and future generations. The Park Service cooperates with partners to extend the benefits of natural and cultural resource conservation and outdoor recreation throughout this country and the world.
			</p>
			<div>
				<a class="font-weight-bold" href="https://www.nps.gov/subjects/legal/national-park-service-laws-up-to-1933.htm">Explore general legislation and other laws relating to the National Park Service.</a>
			</div>
		</div>
	</div>
	<div>
		<h1 class="display-3">Our Employees</h1>
		<div>
			<p>
				More than 20,000 strong, the uncommon men and women of the National Park Service share a common trait: a passion for caring for the nation's special places and sharing their stories.
			</p>
			<ul>
				<li><a class="font-weight-bold" href="https://www.nps.gov/applications/directory/">Employee Directory</a></li>
				<li><a class="font-weight-bold" href="https://www.nps.gov/aboutus/workwithus.htm">Work With Us</a></li>
				<li><a class="font-weight-bold" href="https://www.nps.gov/getinvolved/volunteer.htm">Volunteer</a></li>
				<li><a class="font-weight-bold" href="https://www.nps.gov/getinvolved/partner.htm">Our Partners</a></li>
				<li><a class="font-weight-bold" href="https://www.nps.gov/subjects/npscelebrates/awards-recognition.htm">Awards and Recognition</a></li>
			</ul>
		</div>
	</div>
	<div>
		<h1 class="display-3">How We Are Organised</h1>
		<div>
			<p>
				The National Park Service is a bureau of the <a class="font-weight-bold" href="https://www.doi.gov/">U.S. Department of the Interior</a> and is led by a <a class="font-weight-bold" href="https://www.nps.gov/aboutus/director.htm">Director</a> nominated by the President and confirmed by the U.S. Senate. The Director is supported by senior executives who manage national programs, policy, and budget in the Washington, DC, headquarters and seven regional directors responsible for national park management and program implementation.
			</p>
			<ul>
				<li>
					<div>
						Organisation of the Park Service
					</div>
					<ul>
						<li><a class="font-weight-bold" href="https://www.nps.gov/aboutus/organizational-structure.htm">Explore how NPS organizations fit together</a></li>
						<li><a class="font-weight-bold" href="https://www.nps.gov/aboutus/upload/NPS-Org-Chart.pdf">Download an organizational chart</a> (440KB PDF)</li>
					</ul>
				</li>
				<li><a class="font-weight-bold" href="https://www.nps.gov/aboutus/national-park-system.htm">National Park System units and related areas</a></li>
				<li><a class="font-weight-bold" href="https://www.nps.gov/aboutus/contactinformation.htm">Contact information for the Washington office, regional offices, and parks</a></li>
			</ul>
		</div>
		<div>
			<h1 class="display-3">Our Official Emblem</h1>
			<div>
				<p>The National Park Service arrowhead was authorized as our official emblem in 1951. The components of the arrowhead may have been inspired by key attributes of the National Park System, with the sequoia tree and bison representing vegetation and wildlife, the mountains and water representing scenic and recreational values, and the arrowhead itself representing historical and archeological values. A history of the arrowhead and other elements of NPS visual design is available. The arrowhead is also the registered service mark of the agency (number 4706627), protected by the trademark laws of the United States. The NPS allows limited use of the NPS arrowhead when doing so contributes to our work.</p>
				<div>
					<a href="https://www.nps.gov/subjects/partnerships/arrowhead-requests.htm">Learn how to request permission to use the arrowhead.</a>
				</div>
			</div>
		</div>
		<div>
			<h1 class="display-3">Learn More</h1>
			<div>
				<ul>
					<li><a class="font-weight-bold" href="https://www.nps.gov/aboutus/faqs.htm">Frequently Asked Questions</a></li>
					<li>NPS Overview: New version coming soon!</li>
					<li><a class="font-weight-bold" href="https://www.nps.gov/americasbestidea/templates/timeline.html">NPS Timeline</a></li>
					<li><a class="font-weight-bold" href="https://www.nps.gov/aboutus/nps-directors.htm">Former NPS Directors</a></li>
					<li><a class="font-weight-bold" href="https://irma.nps.gov/Stats/">https://irma.nps.gov/Stats/</a>Public Use Statistics</li>
					<li><a class="font-weight-bold" href="https://parkplanning.nps.gov/publicHome.cfm">Park Planning</a></li>
					<li><a class="font-weight-bold" href="https://www.nps.gov/americasbestidea/">The National Parks: America's Best Idea</a></li>
					<li><a class="font-weight-bold" href="https://www.nps.gov/hfc/carto/index.htm">Maps</a></li>
				</ul>
			</div>
		</div>
		<div>
			<h1 class="display-3">Follow Us</h1>
			<div>
				<div>
					Visit our official social media sites to see what's happening:
				</div>
				<ul>
					<li><a class="font-weight-bold" href="http://www.facebook.com/nationalparkservice">Facebook</a></li>
					<li><a class="font-weight-bold" href="https://www.instagram.com/nationalparkservice/">Instagram</a></li>
					<li><a class="font-weight-bold" href="http://www.twitter.com/natlparkservice">Twitter</a></li>
					<li><a class="font-weight-bold" href="http://www.twitter.com/natlparkservice">YouTube</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock content%}