{% extends "general_layout.html" %}
{% block content %}
<div>
	<div class="row pb-4">
		<div class="col-xs-12 pr-4"></div>
		<div class="col-xs-12 pl-3">
			<img class="float-left" src="https://www.visitcalifornia.com/sites/default/files/styles/welcome_image/public/vc_ca101_nationalparks_lassenvolcanic_manzanitalake_rf_628846294_1280x640.jpg" alt="Lassen Volcanic National Park" height=260>
		</div>
		<div class="col-xs-12"> <!--carousel-->
			<div id="nps-carousel" class="carousel" interval=3000 data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
				</ol>
				<div class="carousel-inner mx-auto" style="height: 260px">
					<div class="carousel-item active">
						<img class="d-block w-40" src="https://www.nps.gov/common/uploads/grid_builder/arch/crop16_9/0E80496C-1DD8-B71B-0B8B48F7F4529F52.jpg?width=465&quality=90&mode=crop" alt="First slide" height=260>
						<div class="carousel-caption d-none d-md-block">
							<h5 class="text-white">Arches National Park</h5>
						</div>
					</div>
					<div class="carousel-item">
						<img class="d-block w-40" src="https://cdn.tourcms.com/a/11676/499/1/default.jpg" alt="Second slide" height=260>
						<div class="carousel-caption d-none d-md-block">
							<h5 class="text-white">Yosemite National Park</h5>
						</div>
					</div>
					<div class="carousel-item">
						<img class="d-block w-40" src="https://upload.wikimedia.org/wikipedia/commons/6/60/Olympic_NP_Washington_USA3.jpg" alt="Third slide" height=260>
						<div class="carousel-caption d-none d-md-block">
							<h5 class="text-white">Olympic National Park</h5>
						</div>
					</div>
					<div class="carousel-item">
						<img class="d-block w-40" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuI19tSw38_nHs28KbE5FAL9lvOZ_oXaw2DDGIQJKe0Q_B2nbz" alt="Yellowstone National Park" height=260>
						<div class="carousel-caption d-none d-md-block">
							<h5 class="text-white">Yellowstone National Park</h5>
						</div>
					</div>
					<div class="carousel-item">
						<img class="d-block w-40" src="https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,h_439,q_50,w_868/v1/clients/estespark/BearLake1_9fa22590-cc52-af44-4c8a2c7b4254706e.jpg" alt="Rocky Mountains National Park" height=260>
						<div class="carousel-caption d-none d-md-block">
							<h5 class="text-white">Rocky Mountains National Park</h5>
						</div>
					</div>
					<div class="carousel-item">
						<img class="d-block w-40" src="https://i0.wp.com/www.mercurynews.com/wp-content/uploads/2019/03/SJM-L-SAGUARO-0317-02.jpg?fit=620%2C9999px&ssl=1" alt="Saguaro National Park" height=260>
						<div class="carousel-caption d-none d-md-block">
							<h5 class="text-white">Saguaro National Park</h5>
						</div>
					</div>
					<div class="carousel-item">
						<img class="d-block w-40" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGls3cF6Blo_BWncXRiP6c0xT6sKwVJDaSvqb0_zGYAl2G1L_M" alt="Joshua Tree National Park" height=260>
						<div class="carousel-caption d-none d-md-block">
							<h5 class="text-white">Joshua Tree National Park</h5>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#nps-carousel" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#nps-carousel" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<div class="col-xs-12">
			<img class="float-right" src="https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1552077044/guadalupe-mountains-national-park-LEASTPARK0319.jpg?itok=4F_nxSWa" alt="Guadaupe Mountains National Park" height=260>
		</div>
	</div>
	
	<div class="pl-4 pb-4 pr-4 pt-4">
		<div class="row">
			<div class="col-xs-12 pl-4 pr-4"></div>
			<div class="col-xs-12 pl-4">
				<img src="https://bloximages.newyork1.vip.townnews.com/foxcarolina.com/content/tncms/assets/v3/editorial/d/c9/dc938b62-05f7-11e9-aad0-bb542d60c4ab/5c1e4da34b0a7.image.png?resize=260%2C260" alt="nps official logo" height=100>
			</div>
			<h1 class="display-4">
				Welcome to the National Park Service Info Page
			</h1>
			<div class="col-xs-12">
				<img src="https://bloximages.newyork1.vip.townnews.com/foxcarolina.com/content/tncms/assets/v3/editorial/d/c9/dc938b62-05f7-11e9-aad0-bb542d60c4ab/5c1e4da34b0a7.image.png?resize=260%2C260" alt="nps official logo" height=100>
			</div>
		</div>
	</div>
	<div class="pl-4 row">
		<div class="col-lg-4">
			<div class="pb-4 mb-4">
				<img class="img-thumbnail" src="https://www.nps.gov/common/uploads/grid_builder/shen/crop16_9/32FDD5B0-1DD8-B71B-0BF2C584A64C94E5.jpg?width=950&quality=90&mode=crop" alt="Shenandoah National Park" width=500>
			</div>
			<div class="pb-4 mb-4">
				<img class="img-thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfVolzX7hdb1w5Ab2k-PBkAIepi72gHuMkZ2BHoc5yz7NPDZhIpw" alt="Grand Teton National Park" width=500>
			</div>
			<div class="pb-4 mb-4">
				<img class="img-thumbnail" src="https://theknow.denverpost.com/wp-content/uploads/2019/04/20181121MesaVerde20.jpg" alt="Mesa Verde National Park" width=500>
			</div>
		</div>
		<div class="col-lg-4">
			<h3>Overview</h3>
			<div>
				<div>
					<p class="">
						<div class="pb-4">
							This site was created by Caroline Liu as part of the Capital One Tech Challenge, summer 2019. The challenge involves creating a web application that serves as an info kiosk for the 330 million visitors and 40 million overnight campers per year.
						</div>
						<div>
							<div class="font-weight-bold">
								The challenge consists of four deliverables:
							</div>
							<ol type=1> 
								<li>Provides tools to assist users in finding specific information, such as state and designation filtering, name and keyword search.</li>
								<li>Lists details about specific visitor centers, as well as nearby campgrounds.</li>
								<li>Displays alerts, articles, and news releases about a selected destination.</li>
								<li>Provides educational information about a selected destination, utilising availble lesson plans as well as relevant people and places associated with the location.</li>
							</ol>
						</div>
					</p>
				</div>
				<div>
					<p class="pb-4">
						<div class="font-weight-bold">
							There are additional features that were suggested, including the following:
						</div>
						<ul>
							<li>When displaying information, utlise relevant symbols from the NPS Symbol Library to illustrate relevant items.</li>
							<li>Utlise latitude and longitude data for map visualisation or data calculations.</li>
						</ul>
					</p>
				</div>
				<div>
					<p>
						<div class="font-weight-bold">
							Here is a quick run-down of the logistics of the site, both in the features as well as some potentially problematic areas:
						</div>
						<ol>
							<li>The home and about page are just for aesthetical purposes. The images used have been found on Google and have been credited where I could such that I'm not violating copyright policies.</li>
							<li>The slideshow at the top of the homepage has been formatted correctly and I've done everything I can to prevent it from jumping around but even so, I haven't been able to get to the very bottom of the issue.</li>
							<li>This is my very first attempt at web-development, so I attempted making a cache in order to make the API calls a tiny bit faster (they're a bit too slow to use normally at the moment) but I haven't figured out a way in order to do it without writing every possible call into a text file, hence it's last on my priority list.</li>
							<li>The link to the National Park Service YouTube channel was originally linked to their Twitter page, so I decided to preserve that integrity, I did the same. The only page based off of the original that I found around a week ago was the About page, as I wasn't entirely sure what content with which to fill it.</li>
							<li>This version of the deployed web app, to my knowledge, does not have any bugs, and I've done my best to both alpha and beta test it through.</li>
						</ol>
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 mb-4">
			<div class="pb-4">
				<img class="img-thumbnail" src="https://amateurtraveler.com/wp-content/uploads/2018/03/P1020599.jpg" alt="National Park of the American Samoa" width=430>
			</div>
			<div class="pb-4 mb-4">
				<img class="img-thumbnail" src="https://www.buffalosfire.com/wp-content/uploads/2019/05/Glacier-National-Park-landscape-mountain-peak-lake-forest-blue-sky-beautiful-605x357.png" alt="Glacier National Park" width=430>
			</div>
			<div class="pb-4 mb-4">
				<img class="img-thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnjmWrIQ1rigYdlL64xfO4WD-Ajpip-29MYrO4dkjBkE51omfQ" alt="Virgin Islands National Park" width=430>
			</div>
		</div>
	</div>
</div>
{% endblock content %}