{% extends "general_layout.html" %}
{% block content %}
<div>
	<div class="pl-4 pr-4 pu-4">
		<h1>
			Search By State
		</h1>
	</div class="pb-4">
	<div class="pl-4 pb-4 pr-4 pu-4">
		<div class="text-center pb-4">
			{% for letter in alphabet_to_state.keys() %}
			{% if alphabet_to_state.get(letter) != [] %}
			<small>
				<a href="{{ url_for('states_show', letter=letter) }}">{{ letter }}</a>
			</small>
			{% else %}
			<small>
				{{ letter }}
			</small>
			{% endif %}
			{% endfor %}
		</div>
		{% block states_shown %} {% endblock %}

		<div class="text-center container pb-4">
			<img src="http://www.virtualhomeschoolgroup.org/vhsgfiles/04_History/100%20World%20Geography/00%20Maps/01%20Western%20Hemisphere/USA/Usa_Political_Map_clip_art_hight.png" alt="United States of America map" width=1000>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="California" style="background-color: transparent; position: absolute; top: 420px; left: 405px">
				<a class="text-muted" href="{{ url_for('parks', state_full='California', state_abb='CA') }}">CA</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Oregon" style="background-color: transparent; position: absolute; top: 280px; left: 430px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Oregon', state_abb='OR') }}">OR</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Washington" style="background-color: transparent; position: absolute; top: 208px; left: 453px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Washington', state_abb='WA') }}">WA</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Nevada" style="background-color: transparent; position: absolute; top: 393px; left: 468px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Nevada', state_abb='NV') }}">NV</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Idaho" style="background-color: transparent; position: absolute; top: 295px; left: 525px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Idaho', state_abb='ID') }}">ID</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Wyoming" style="background-color: transparent; position: absolute; top: 335px; left: 625px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Wyoming', state_abb='WY') }}">WY</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Utah" style="background-color: transparent; position: absolute; top: 410px; left: 550px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Utah', state_abb='UT') }}">UT</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Arizona" style="background-color: transparent; position: absolute; top: 510px; left: 535px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Arizona', state_abb='AZ') }}">AZ</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Montana" style="background-color: transparent; position: absolute; top: 245px; left: 610px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Montana', state_abb='MT') }}">MT</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Colorado" style="background-color: transparent; position: absolute; top: 420px; left: 650px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Colorado', state_abb='CO') }}">CO</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="New Mexico" style="background-color: transparent; position: absolute; top: 520px; left: 630px">
				<a class="text-muted" href="{{ url_for('parks', state_full='New Mexico', state_abb='NM') }}">NM</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Texas" style="background-color: transparent; position: absolute; top: 590px; left: 745px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Texas', state_abb='TX') }}">TX</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Oklahoma" style="background-color: transparent; position: absolute; top: 500px; left: 780px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Oklahoma', state_abb='OK') }}">OK</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Kansas" style="background-color: transparent; position: absolute; top: 440px; left: 765px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Kansas', state_abb='KS') }}">KS</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Nebraska" style="background-color: transparent; position: absolute; top: 375px; left: 745px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Nebraska', state_abb='NE') }}">NE</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="South Dakota" style="background-color: transparent; position: absolute; top: 313px; left: 738px">
				<a class="text-muted" href="{{ url_for('parks', state_full='South Dakota', state_abb='SD') }}">SD</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="North Dakota" style="background-color: transparent; position: absolute; top: 250px; left: 738px">
				<a class="text-muted" href="{{ url_for('parks', state_full='North Dakota', state_abb='ND') }}">ND</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Minnesota" style="background-color: transparent; position: absolute; top: 280px; left: 822px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Minnesota', state_abb='MN') }}">MN</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Iowa" style="background-color: transparent; position: absolute; top: 365px; left: 845px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Iowa', state_abb='IA') }}">IA</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Missouri" style="background-color: transparent; position: absolute; top: 445px; left: 860px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Missouri', state_abb='MO') }}">MO</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Arkansas" style="background-color: transparent; position: absolute; top: 520px; left: 860px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Arkansas', state_abb='AR') }}">AR</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Louisiana" style="background-color: transparent; position: absolute; top: 590px; left: 865px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Louisiana', state_abb='LA') }}">LA</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Mississippi" style="background-color: transparent; position: absolute; top: 555px; left: 915px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Mississippi', state_abb='MS') }}">MS</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Illinois" style="background-color: transparent; position: absolute; top: 400px; left: 918px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Illinois', state_abb='IL') }}">IL</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Wisconsin" style="background-color: transparent; position: absolute; top: 305px; left: 900px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Wisconsin', state_abb='WI') }}">WI</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Michigan" style="background-color: transparent; position: absolute; top: 328px; left: 980px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Michigan', state_abb='MI') }}">MI</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Indiana" style="background-color: transparent; position: absolute; top: 400px; left: 965px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Indiana', state_abb='IN') }}">IN</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Ohio" style="background-color: transparent; position: absolute; top: 390px; left: 1015px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Ohio', state_abb='OH') }}">OH</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Kentucky" style="background-color: transparent; position: absolute; top: 450px; left: 990px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Kentucky', state_abb='KY') }}">KY</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Tennessee" style="background-color: transparent; position: absolute; top: 490px; left: 970px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Tennessee', state_abb='TN') }}">TN</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Alabama" style="background-color: transparent; position: absolute; top: 555px; left: 970px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Alabama', state_abb='AL') }}">AL</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Georgia" style="background-color: transparent; position: absolute; top: 555px; left: 1030px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Georgia', state_abb='GA') }}">GA</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Florida" style="background-color: transparent; position: absolute; top: 650px; left: 1080px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Florida', state_abb='FL') }}">FL</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="South Carolina" style="background-color: transparent; position: absolute; top: 520px; left: 1070px">
				<a class="text-muted" href="{{ url_for('parks', state_full='South Carolina', state_abb='SC') }}">SC</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="North Carolina" style="background-color: transparent; position: absolute; top: 480px; left: 1090px">
				<a class="text-muted" href="{{ url_for('parks', state_full='North Carolina', state_abb='NC') }}">NC</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Virginia" style="background-color: transparent; position: absolute; top: 435px; left: 1095px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Virginia', state_abb='VA') }}">VA</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="West Virginia" style="background-color: transparent; position: absolute; top: 420px; left: 1050px">
				<a class="text-muted" href="{{ url_for('parks', state_full='West Virginia', state_abb='WV') }}">WV</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Pennsylvania" style="background-color: transparent; position: absolute; top: 360px; left: 1095px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Pennsylvania', state_abb='PA') }}">PA</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="New York" style="background-color: transparent; position: absolute; top: 310px; left: 1125px">
				<a class="text-muted" href="{{ url_for('parks', state_full='New York', state_abb='NY') }}">NY</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Maryland" style="background-color: transparent; position: absolute; top: 420px; left: 1160px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Maryland', state_abb='MD') }}">MD</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Delaware" style="background-color: transparent; position: absolute; top: 398px; left: 1170px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Delaware', state_abb='DE') }}">DE</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="New Jersey" style="background-color: transparent; position: absolute; top: 370px; left: 1175px">
				<a class="text-muted" href="{{ url_for('parks', state_full='New Jersey', state_abb='NJ') }}">NJ</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Connecticut" style="background-color: transparent; position: absolute; top: 350px; left: 1175px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Connecticut', state_abb='CT') }}">CT</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Rhode Island" style="background-color: transparent; position: absolute; top: 340px; left: 1195px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Rhode Island', state_abb='RI') }}">RI</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Massachussets" style="background-color: transparent; position: absolute; top: 310px; left: 1175px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Massachussets', state_abb='MA') }}"><small>MA</small></a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Vermont" style="background-color: transparent; position: absolute; top: 280px; left: 1157px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Vermont', state_abb='VT') }}"><small>VT</small></a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="New Hampshire" style="background-color: transparent; position: absolute; top: 280px; left: 1176px">
				<a class="text-muted" href="{{ url_for('parks', state_full='New Hampshire', state_abb='NH') }}"><small>NH</small></a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Maine" style="background-color: transparent; position: absolute; top: 240px; left: 1195px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Maine', state_abb='ME') }}">ME</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Alaska" style="background-color: transparent; position: absolute; top: 628px; left: 405px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Alaska', state_abb='AK') }}">AK</a>
			</button>
			<button class="btn" data-toggle="tooltip" data-placement="bottom" title="Hawaii" style="background-color: transparent; position: absolute; top: 660px; left: 630px">
				<a class="text-muted" href="{{ url_for('parks', state_full='Hawaii', state_abb='HI') }}">HI</a>
			</button>
		</div>
	</div>
</div>
{% endblock content%}